/** Created by TTF.in.ua **/
@font-face {
    font-family: 'OCR_OneCTT';
    src: url('OCR_OneCTT-Regular.eot');
    src: url('OCR_OneCTT-Regular.eot?#iefix') format('embedded-opentype'),
         url('OCR_OneCTT-Regular.woff') format('woff'),
         url('OCR_OneCTT-Regular.ttf') format('truetype'),
         url('OCR_OneCTT-Regular.svg#OCR_OneCTT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
