<div class="greet_form">
    <div class="in">
        <div class="triangle"></div>
        <div class="text">
            Здравствуйте! У вас появились вопросы? Возможно, вашу проблему можно решить онлайн!
            Заполните форму ниже, Вам ответит первый освободившийся оператор.
        </div>
    </div>

    <div class="form">
        <form action="{% url "chat:join" %}" id="chat-join-form">
            <div class="form-row">
                <input placeholder="Имя" type="text" name="name">
            </div>
            <div class="form-row">
                <textarea placeholder="Введите сообщение" name="text" rows=2></textarea>
            </div>
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>
