{% load i18n %}

<div class="section" id="footer">
    <div class="overlay"></div>
    <div class="row">
        <div class="left">
            <div class="wrapper">
                <h1>{% trans "Есть вопрос?" %}</h1>
                <form method="post" action="">
                    {% csrf_token %}
                    {% for field in contact_form %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" value="{% trans "Оставить заявку" %}">
                </form>
            </div>
        </div>
        <div class="right">
            <div class="wraper">
                <h1>{% trans "О компании" %}</h1>
                {{ preferences.translation.about_company|safe }}
{#                <p>Наш коллектив состоит из оптных, квалифицированных специалистов, преданных своему#}
{#                    делу, что позволяет проводить ремонт компьютеров и ноутбуков любой сложности в#}
{#                    самые кратчайшие сроки. Для нас важнейшей ценностью в работе с клиенто является#}
{#                    построение долгосрочных партнерских отношений на основе взимной выгоды.</p>#}
{#                <p>Из основных приоритетов в работе мы выделяем:</p>#}
{#                <ul>#}
{#                    <li>профессиональные консультации нащих сотрудников, начиная с момента Вашего#}
{#                        обращения;#}
{#                    </li>#}
{#                    <li>тщательно продуманный подход к формированию ценовой политики;</li>#}
{#                    <li>творческий подход к запросам клиентов.</li>#}
{#                </ul>#}
{#                <p>Мы работаем на результат, а не на процесс. Показателем нашей деятельности#}
{#                    является достижение поставленных хадач, а не процесс работы специалиста.</p>#}
{#                <p>Наши специалисты всегда готовы оказать консультационную помощь и помочь Вам в#}
{#                    осуществелнии ниболее оптимального выбора. "Комп услуги" - квалифицированная#}
{#                    компьютерная помощь!</p>#}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
