{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

<div class="section" id="reviews">
    <div class="row">
        <h1>{% trans "Отзывы" %}</h1>
        <div class="wrapper">
            <div class="items">
                {% for review in reviews %}
                    <div>
                        <img src="{% thumbnail review.photo 90x90 crop=true %}">
                        <h2>{{ review.translation.name }}</h2>
                        <div class="text">
                            "{{ review.translation.text }}"
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
