{% load i18n %}

<div class="section" id="header">
    <div class="overlay"></div>
    <div class="row">
        <div class="left">
            <div class="logo"></div>

            <div class="contacts">
                <h2>{% trans "Вызов мастера и консультация" %}</h2>
                <div class="tel">{{ preferences.translation.master_phone }}</div>
                <button class="open-modal" data-modal="contact-modal">{% trans "Оставить заявку" %}</button>
            </div>
        </div>

        <div class="right">
            <div class="wrapper">
                <h3>{% trans "Популярные услуги" %}</h3>
                {% for service in popular_services %}
                    <a href="#" class="open-modal" data-modal="service-details-{{ service.id }}">
                        {{ service.translation.name }}
                        <div class="price">{{ service.translation.price }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <button class="down"></button>

    {% for service in popular_services %}
        <div class="modal" id="service-details-{{ service.id }}">
            <div class="wrapper">
                <a href="#" class="close"></a>
                <h1>{{ service.translation.name }}</h1>
                <div>
                    {{ service.translation.details|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
