<div class="dialogs">
    <div class="header">
        Диалоги с посетителями
    </div>

    <div class="dialog">
        <a href="#" class="close">Закрыть чат [x]</a>
        <div class="name">Юлия Пивоварова</div>
        <div class="last-message">Добрый день</div>
    </div>

    <div class="dialog">
        <a href="#" class="close">Закрыть чат [x]</a>
        <div class="name">Антон Андреев</div>
        <div class="last-message"><span class="highlight">Вы:</span> Сейчас посмотрю</div>
    </div>

    <div class="dialog">
        <a href="#" class="close">Закрыть чат [x]</a>
        <div class="name">Сергей 45k</div>
        <div class="last-message">Здравствуйте, у меня вопрос</div>
    </div>
</div>

<div class="messages">
    <div class="header">
        <a href="#" class="icon close"></a>
    </div>

    <div class="messages">
        <div class="in">
            <div class="triangle"></div>
            <div class="text">
                Привет
            </div>
            <div class="time">12:16</div>
        </div>

        <div class="out">
            <div class="triangle"></div>
            <div class="text">
                Здравствуйте, чем могу помочь?
            </div>
            <div class="time">12:17</div>
        </div>

        <div class="in">
            <div class="triangle"></div>
            <div class="text">
                Не работает компьютер
            </div>
            <div class="time">12:17</div>
        </div>

        <div class="out">
            <div class="triangle"></div>
            <div class="text">
                Вам выставлен счет

                <div class="pay">
                    <div class="price">20 $</div>
                    <a href="#" class="button">Оплатить</a>
                    <div class="cards">
                        <div class="visa"></div>
                        <div class="maestro"></div>
                    </div>
                </div>
            </div>
            <div class="time">12:17</div>
        </div>
    </div>

    <div class="send-form">
        <div class="message">
            <form action="{% url "chat:send" %}">
                <textarea placeholder="Напишите сообщение и нажмите Enter"></textarea>
                <input type="submit">
            </form>
        </div>

        <div class="attachment">
            <div class="download-region">
                <span class="note">
                    Перетаците файл или <span class="highlight">загрузите с компьютера</span>
                </span>
            </div>
        </div>

        <div class="order">
            <input type="text" placeholder="Введите сумму">
            <ul class="currency">
                <li data-currency="rub">RUB</li>
                <li data-currency="usd">USD</li>
                <li data-currency="eur">EUR</li>
                <li data-currency="pln">PLN</li>
            </ul>
        </div>

        <div class="bottom-menu">
            <a href="#" data-tab="message"><div class="icon messages"></div></a>
            <a href="#" data-tab="attachment"><div class="icon attachment"></div></a>
            <a href="#" data-tab="order"><div class="icon dollar"></div></a>
        </div>
    </div>
</div>
