{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "Urban" %} - {% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,600,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% compress css %}
        {% block styles %}
            <link href="{% static "vendor/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "fonts/OCR_OneCTT.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "styles/main.sass" %}" rel="stylesheet" type="text/x-sass">
{#            <link href="{% static "styles/break.css" %}" rel="stylesheet">#}
            <link rel="stylesheet" type="text/css" href="{% static "vendor/jquery.fullpage.min.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendor/slick.css" %}"/>
        {% endblock %}
    {% endcompress %}
</head>
<body>
    {% include "header.html" %}

    {% block content %}
    {% endblock %}

    {% block js %}
        <!-- {literal} -->
        <script type='text/javascript'>
            window['li' + 've' + 'Tex'] = true,
                window['liv' + 'eT' + 'exI' + 'D'] = 142609,
                window['liveTe' + 'x_objec' + 't'] = true;
            (function () {
                var t = document['c' + 'rea' + 'te' + 'Ele' + 'ment']('script');
                t.type = 'text/javascript';
                t.async = true;
                t.src = '//cs15.' + 'livete' + 'x.' + 'ru/js/cl' + 'ient' + '.js';
                var c = document['getEle' + 'mentsByTag' + 'Nam' + 'e']('script')[0];
                if (c) c['pa' + 'r' + 'en' + 't' + 'N' + 'od' + 'e']['inser' + 'tB' + 'ef' + 'ore'](t, c);
                else document['doc' + 'u' + 'm' + 'entE' + 'le' + 'm' + 'e' + 'nt']['fi' + 'rst' + 'C' + 'hild']['a' + 'ppe' + 'ndCh' + 'ild'](t);
            })();
        </script>
        <!-- {/literal} -->

        <script src="{% static 'vendor/jquery-3.1.1.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'vendor/jquery.fullpage.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'vendor/slick.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
{#        <script src="{% static 'js/chat.js' %}" charset="utf-8"></script>#}
    {% endblock %}
</body>
</html>
