<div id="online-chat">
    <div class="border-header">
        <a href="#" class="icon close"></a>
    </div>

    <div class="toolbar">
        <div class="icon-place">
            <div class="icon messages-white"></div>
        </div>

        <div class="header">Консультация on-line</div>

        <div class="menu-button">
            <div class="icon hamburger"></div>
        </div>
    </div>

    <div class="info-messages">
    </div>

    <ul class="toolbar-menu">
        <li><div class="icon email"></div> <div class="text">Отправить на e-mail</div><div class="clearfix"></div></li>
        <li><div class="icon team-viewer"></div> <div class="text">Team Viewer</div><div class="clearfix"></div></li>
        <li><div class="icon ammyy-admin"></div> <div class="text">Ammyy Admin</div><div class="clearfix"></div></li>
        <li><div class="icon chrome-remote-desktop"></div> <div class="text">Chrome Remote Desktop</div><div class="clearfix"></div></li>
        <li class="last"><div class="icon print"></div> <div class="text">Распечатать переписку</div><div class="clearfix"></div></li>
    </ul>

    <div class="messages">
{#        <div class="in">#}
{#            <div class="triangle"></div>#}
{#            <div class="text">#}
{#                Добрый день#}
{#            </div>#}
{#            <div class="time">12:36</div>#}
{#        </div>#}
{##}
{#        <div class="out">#}
{#            <div class="triangle"></div>#}
{#            <div class="text">#}
{#                Здравствуйте. У меня не получается запустить Chrome. Всё перепробовал. Можете помочь,#}
{#            </div>#}
{#            <div class="time">12:37</div>#}
{#        </div>#}
{##}
{#        <div class="dialog-finished">#}
{#            <div class="finished-text">Консультат закрыл чат.</div>#}
{#            <div class="rate">Оценка чата: <a class="fa fa-thumbs-up"></a> <a class="fa fa-thumbs-down"></a></div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="send-form">#}
{#        <div class="message">#}
{#            <form action="{% url "chat:send" %}">#}
{#                <textarea placeholder="Напишите сообщение и нажмите Enter"></textarea>#}
{#                <input type="submit">#}
{#            </form>#}
{#        </div>#}
{##}
{#        <div class="attachment">#}
{#            <div class="download-region">#}
{#                <span class="note">#}
{#                    Перетаците файл или <span class="highlight">загрузите с компьютера</span>#}
{#                </span>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="bottom-menu">#}
{#            <a href="#" data-tab="message"><div class="icon messages"></div></a>#}
{#            <a href="#" data-tab="attachment"><div class="icon attachment"></div></a>#}
{#        </div>#}
    </div>
</div>
