{% load i18n %}

<div class="menu">
    <ul>
        <li><a href="{% url "index" %}">{% trans "Главная страница" %}</a></li>
        {% for category in categories %}
            <li><a href="{{ category.permalink }}">{{ category.translation.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tel">
        <div>{% trans "Вызов мастера" %}</div>
        <div class="number">{{ preferences.translation.master_phone }}</div>
    </div>
</div>

<a href="#" id="mobile-menu-link"><i class="fa fa-bars"></i></a>

<div id="mobile-menu">
    <a href="#" id="mobile-menu-close"><i class="fa fa-times-thin"></i></a>

    <ul>
        <li><a href="{% url "index" %}">{% trans "Главная страница" %}</a></li>

        {% for category in categories %}
            <li><a href="{{ category.permalink }}">{{ category.translation.name }}</a></li>
        {% endfor %}
    </ul>

    <div class="mobile-languages">
        {% for language in languages %}
            <a href="{{ language.permalink }}" {% if language.active %}class="active"{% endif %}>
                {{ language.country_code }}
            </a>

            {% if not forloop.last %}
                <div class="separator"></div>
            {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>

    <div class="mobile-socials">
        <a href="{{ preferences.vk_url }}" target="_blank" class="vk"></a>
        <a href="{{ preferences.fb_url }}" target="_blank" class="fb"></a>
        <a href="{{ preferences.tw_url }}" target="_blank" class="tw"></a>
        <div class="clearfix"></div>
    </div>
</div>

<div class="languages">
    {% for language in languages %}
        <a href="{{ language.permalink }}"{% if language.active %} class="active"{% endif %}>{{ language.country_code }}</a>
        {% if not forloop.last %}
            <div class="separator"></div>
        {% endif %}
    {% endfor %}
</div>

<div class="socials">
    <a href="{{ preferences.vk_url }}" target="_blank" class="vk"></a>
    <a href="{{ preferences.fb_url }}" target="_blank" class="fb"></a>
    <a href="{{ preferences.tw_url }}" target="_blank" class="tw"></a>
</div>

<div class="contact-text">
    {% blocktrans %}Свяжитесь с нами и мы ответим на все интересующие Вас вопросы. Звоните: {{ preferences.translation.info_phone }} или
    оставьте <a href="#" class="open-modal" data-modal="contact-modal">on-line</a> заявку.{% endblocktrans %}
</div>

<div class="modal" id="contact-modal">
    <div class="wrapper">
        <a href="#" class="close"></a>
        <h1>{% trans "Оставить заявку" %}</h1>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in contact_form %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="{% trans "Оставить заявку" %}">
        </form>
    </div>
</div>

{% if contact_form_fail %}
    <div class="modal" style="display: block; opacity: 1;">
        <div class="wrapper">
            <a href="#" class="close"></a>
            <h2>{% trans "Что-то пошло не так, пожалуйста напишити нам на email:" %}
                <a href="mailto:{{ preferences.send_email }}">{{ preferences.send_email }}</a>
            </h2>
        </div>
    </div>
{% elif contact_form_success %}
    <div class="modal" style="display: block; opacity: 1;">
        <div class="wrapper">
            <a href="#" class="close"></a>
            <h2>{% trans "Сообщение успешно отправлено, мы с вами свяжемся в ближайшее время." %}</h2>
        </div>
    </div>
{% endif %}
