{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    {{ category.translation.name }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static "styles/chat.sass" %}" rel="stylesheet" type="text/x-sass">
{% endblock %}

{% block content %}
    <div id="fullpage" class="services">
        <div class="section" id="regular">
            <div class="overlay"></div>
            <div class="row auto-height">
                <div class="left">
                    <h1>{{ category.translation.name }}</h1>
                    <div class="contacts">
                        <h2>{% trans "Вызов мастера и консультация" %}</h2>
                        <div class="tel">{{ preferences.translation.master_phone }}</div>
                        <button class="open-modal" data-modal="contact-modal">{% trans "Оставить заявку" %}</button>
                    </div>
                </div>

                <div class="right">
                    <div class="wrapper">
                        {% for service in services %}
                            <a href="#" class="open-modal" data-modal="service-details-{{ service.id }}">
                                {{ service.translation.name }}
                                <div class="price">{{ service.translation.price }}</div>
                            </a>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    {% include "chat.html" %}#}
    {% for service in services %}
        <div class="modal" id="service-details-{{ service.id }}">
            <div class="wrapper">
                <a href="#" class="close"></a>
                <h1>{{ service.translation.name }}</h1>
                <div>
                    {{ service.translation.details|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
