<span id="static_url" data-url="{{ STATIC_URL }}"></span>

<div style="padding-left: 170px">
    <textarea class="tinymce-widget" id="id_{{ name }}" name="{{ name }}">{% if value == "" or value is None %}<p>Put here your text</p>{% else %}{{ value }}{% endif %}</textarea>
</div>
