@import "consts"
@import "mixins"


#online-chat
    position: absolute
    width: 380px
    height: 480px
    background: #282b30
    z-index: 9999
    bottom: 60px
    right: 30px
    border-radius: 4px
    border: 2px solid #fff
    font-family: "Exo 2"

    .border-header
        text-align: right
        padding: 5px 8px 5px 5px

        .close
            height: 20px

    .toolbar
        background: $green
        height: 38px
        position: relative

        .icon-place
            float: left
            padding: 8px 20px 8px 8px

        .header
            font-size: 16px
            line-height: 34px
            font-weight: normal
            float: left

        .menu-button
            display: block
            float: right
            padding: 8px
            opacity: 0.8
            cursor: pointer

            &:hover
                opacity: 1

    .toolbar-menu
        background: #3a3f45
        border: 1px solid $green
        border-top: none
        border-right: none
        border-bottom-left-radius: 4px
        position: absolute
        margin: 0
        right: 0
        top: 71px
        width: 60%
        padding: 5px 0
        list-style-type: none
        display: none
        z-index: 99

        li
            opacity: 0.8
            cursor: default
            padding: 5px
            border-bottom: 1px solid #464b51

            &.last
                border-bottom: 1px solid #3a3f45

            .icon
                float: left

            .text
                font-size: 15px
                padding-left: 8px
                padding-top: 0
                float: left

            &:hover
                background: $green
                opacity: 1

    .icon
        width: 21px
        height: 21px
        display: inline-block
        background: url("../images/chat_icons.png") no-repeat

        &.close
            background-position: -84px -21px
            cursor: pointer

            &:hover
                background-position: -84px -42px

        &.messages
            background-position: 0 -21px

            &.active
                background-position: 0 -42px

        &.emoji
            background-position: -84px -21px

            &:hover
                background-position: -84px -42px

        &.hamburger
            background-position: 0 0

        &.messages-white
            background-position: -21px 0

    .messages
        margin-top: 24px
        overflow-y: scroll
        border-top: 1px solid #464b51
        height: 300px

        .in, .out
            font-size: 14px
            margin: 5px 13px
            position: relative

            .text
                background: #4c5155
                border-radius: 3px
                padding: 4px 8px
                margin-top: 20px

            .time
                font-size: 12px
                color: #b1b6ba
                padding: 5px

            .triangle
                width: 0
                height: 0
                border-top: 4px solid transparent
                border-bottom: 4px solid transparent
                position: absolute
                top: 8px

        .in
            color: #b1b6ba
            .time
                text-align: right

            .triangle
                border-right: 7px solid #4c5155
                left: -7px

        .out
            color: $green
            .time
                text-align: left

            .triangle
                border-left: 7px solid #4c5155
                right: -7px

        .form
            margin-top: 20px
            .form-row
                margin: 10px 13px
                padding-right: 20px

                input[type=text], textarea
                    font-family: "Roboto"
                    font-size: 14px
                    background: none
                    border: 2px solid #b0b3b8
                    width: 100%
                    border-radius: 5px
                    outline: none !important
                    color: #fff
                    padding: 8px

                ::-webkit-input-placeholder
                    color: #b1b6ba

                ::-moz-placeholder
                    color: #b1b6ba

                :-moz-placeholder
                    color: #b1b6ba

                :-ms-input-placeholder
                    color: #b1b6ba

            input[type=submit]
                display: block
                width: 150px
                margin: 20px auto auto
                border: none
                background: $green
                color: #fff
                border-radius: 5px
                font-size: 20px
                font-weight: 500
                padding: 5px 0 7px 0
                font-family: "Exo 2"
                outline: none !important
