@import "consts"
@import "mixins"

.fa-times-thin:before
    content: '\00d7'

body
    padding: 0
    margin: 0
    font-family: "Exo 2"
    color: #fff

body, html
    min-height: 100%
    height: 100%
    background: url(../images/back.jpg) center center fixed
    background-size: cover

.left
    width: 50%
    float: left

    @media (max-width: 1024px)
        width: 100%
        float: none

.right
    width: 50%
    float: right

    @media (max-width: 1024px)
        width: 100%
        float: none


.row, .section
    &::after
        clear: both

.section
    padding-top: 100px

.row
    width: $row-width
    margin: auto

    &.auto-height
        position: relative

        .left
            position: absolute
            bottom: 0

.clearfix
    clear: both

button
    outline: none !important

// Fixed

#mobile-menu-link
    display: none
    position: fixed
    font-size: 100px
    top: 15px
    left: 30px
    color: #fff
    z-index: 9999

    @media (max-width: 1024px)
        display: block

#mobile-menu
    position: fixed
    top: 0
    left: 0
    display: none
    color: #fff
    z-index: 9999
    background: #282b30

    #mobile-menu-close
        display: none
        position: absolute
        font-size: 100px
        top: 15px
        left: 30px
        color: #fff
        z-index: 9999

        @media (max-width: 1024px)
            display: block

    ul
        list-style: none
        padding: 0
        margin-top: 150px
        margin-bottom: 20px

        a
            padding: 15px 25px
            display: block
            color: #fff
            text-decoration: none
            font-size: 48px

            &:hover
                background: $green

    .mobile-languages
        padding: 20px 25px

        a
            text-transform: uppercase
            color: #fff
            text-decoration: none
            opacity: 0.5
            cursor: pointer
            display: block
            float: left
            font-size: 40px

            &:hover
                opacity: 1

            &.active
                opacity: 1
                font-weight: 500
                cursor: default

        .separator
            float: left
            width: 1px
            height: 42px
            position: relative
            background: #bbb
            margin: 4px 16px 0 16px

    .mobile-socials
        height: 28px
        margin-left: 25px
        margin-bottom: 20px
        margin-top: 40px

        a
            width: 28px
            height: 28px
            background: url(../images/socials.png) no-repeat
            display: block
            float: left
            margin-right: 15px

            &.vk
                background-position: 0 0

            &.fb
                background-position: -28px 0

            &.tw
                background-position: -56px 0

.menu
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100px
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%)
    z-index: 9999
    color: #fff
    font-family: "Exo 2"
    font-size: 19px
    font-weight: normal

    @media (max-width: 1024px)
        display: none

    ul
        position: absolute
        left: 50%
        margin-left: -600px

    .tel
        position: absolute
        right: 35%
        margin-right: -300px
        top: 20px

        .number
            padding-left: 21px
            height: 22px
            background: url(../images/tel-small.png) no-repeat 0 4px
            font-family: "Exo 2"

    li
        float: left
        list-style-type: none
        padding: 0 16px
        max-width: 140px

    a
        color: #fff
        text-decoration: none !important
        transition: .2s color
        display: block

        &:hover
            color: $green

.contact-text
    position: absolute
    bottom: 30px
    left: 20px
    font-size: 13px
    z-index: 9999

    @media (max-width: 1024px)
        display: none

    a
        color: #fff !important

        &:hover
            text-decoration: none

.socials
    position: absolute
    width: 28px * 3 + 10px * 3
    height: 28px
    bottom: 20px
    right: 20px
    z-index: 9999

    @media (max-width: 1024px)
        display: none

    a
        width: 28px
        height: 28px
        background: url(../images/socials.png) no-repeat
        display: block
        float: left
        margin-left: 10px
        opacity: .75
        transition: .3s opacity

        &:hover
            opacity: 1

        &.vk
            background-position: 0 0

        &.fb
            background-position: -28px 0

        &.tw
            background-position: -56px 0

.languages
    position: absolute
    right: 50px
    top: 20px
    z-index: 9999

    @media (max-width: 1024px)
        display: none

    a
        text-transform: uppercase
        color: #fff
        text-decoration: none
        opacity: 0.5
        cursor: pointer
        display: block
        float: left

        &:hover
            opacity: 1

        &.active
            opacity: 1
            font-weight: 500
            cursor: default

    .separator
        float: left
        width: 1px
        height: 13px
        opacity: 0.5
        background: #fff
        margin: 4px 5px 0 5px

// Modal

.modal
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: 9999
    background: rgba(0, 0, 0, 0.75)
    display: none
    opacity: 0

    .wrapper
        width: 460px
        top: 50%
        left: 50%
        margin-left: (-460px) / 2
        margin-top: (-446px) / 2
        position: absolute

        h2
            text-align: center
            padding-top: 60px

            a
                color: #fff !important

                &:hover
                    text-decoration: none !important

        a.close
            display: block
            width: 32px
            height: 32px
            background: url(../images/close.png) no-repeat
            float: right

    h1
        font-weight: normal
        text-align: center
        margin-bottom: 40px

    input[type=text], textarea
        display: block
        width: 432px
        border: 2px solid #fff
        background: rgba(255, 255, 255, .07)
        color: #fff
        border-radius: 3px
        font-size: 18px
        padding: 12px
        font-family: "Roboto Condensed"
        outline: none !important
        margin-top: 15px

        &:focus
            border-color: $green

    input[type=submit]
        display: block
        width: 264px
        margin: auto
        margin-top: 25px
        border: 2px solid #fff
        background: $green
        color: #fff
        border-radius: 3px
        font-size: 24px
        font-weight: 500
        padding: 12px
        font-family: "Exo 2"
        outline: none !important

// Sections

#header, #regular
    background: url(../images/back.jpg) center center fixed
    background-size: cover

    .row
        height: 506px
        position: absolute
        top: 50%
        left: 50%
        margin-top: -253px
        margin-left: -$row-width / 2

        @media (max-width: 1024px)
            margin-bottom: 100px
            height: 800px
            margin-top: -400px

    .logo
        background: url(../images/logo.png) no-repeat
        width: 490px
        height: 89px
        margin: auto

    h3
        font-size: 28px
        font-weight: normal
        margin-top: 48px

    .contacts
        width: 269px
        margin: auto
        margin-top: 86px

        h2
            font-size: 20px
            font-weight: 500
            margin: 4px 0
            letter-spacing: -1px
            text-align: justify

        .tel
            font-weight: 600
            background: url(../images/tel.png) no-repeat
            font-size: 28px
            height: 48px
            text-align: right

        button
            background: rgba(255, 255, 255, 0)
            border-radius: 3px
            border: 3px solid #fff
            color: #fff !important
            transition: .2s background
            width: 100%
            padding: 8px 0 10px 0
            font-weight: 500
            font-size: 24px
            font-family: "Exo 2"
            margin-top: 30px
            cursor: pointer

            &:hover
                background: rgba(255, 255, 255, 0.5)

    .right
        .wrapper
            //float: right
            margin: auto
            width: 495px

        a
            display: block
            border-radius: 3px
            border: 2px solid #fff
            color: #fff !important
            text-decoration: none !important
            padding: 15px 23px
            margin: 16px 0
            background: rgba(255, 255, 255, 0.2)
            font-family: "Exo 2"
            font-weight: normal
            font-size: 21px
            line-height: 28px
            transition: .2s background

            &:hover
                background: rgba(255, 255, 255, 0.5)

            .price
                font-size: 24px

    button.down
        width: 60px
        height: 18px
        border: none
        background: url(../images/arrow_down.png) no-repeat
        opacity: 0.75
        transition: .2s opacity
        padding: 0
        outline: none !important
        cursor: pointer
        display: block
        position: absolute
        bottom: 100px
        left: 50%
        margin-left: -30px

        &:hover
            opacity: 1

#reviews
    background: url(../images/reviews-back.jpg) center center fixed
    background-size: cover
    text-align: center

    .wrapper
        width: 732px
        margin: auto

    .row
        position: absolute
        left: 50%
        top: 50%
        margin-left: -$row-width / 2

    img
        border-radius: 50%
        margin: auto

    h1
        text-transform: uppercase
        text-align: center
        font-weight: normal

    h2
        font-weight: normal
        @media (max-width: 1024px)
            font-size: 28px

    .slick-slide
        outline: none !important

    .slick-arrow
        width: 48px
        height: 48px
        font-size: 0
        background: url(../images/reviews-arrows.png) no-repeat
        cursor: pointer
        border-radius: 50%
        border: 2px solid #009587
        opacity: .8
        transition: .3s background-color
        position: absolute
        top: 50%
        margin-top: -24px

        &:hover
            background-color: rgba(0, 149, 135, .5)

    .slick-next
        background-position: -44px 0
        right: -48px

    .slick-prev
        background-position: 1px 0
        left: -48px

    .text
        font-size: 18px
        font-family: "Exo 2"

        @media (max-width: 1024px)
            font-size: 24px

::-webkit-input-placeholder
    color: #fff

::-moz-placeholder
    color: #fff

\:-moz-placeholder
    color: #fff

\:-ms-input-placeholder
    color: #fff

#footer
    background: url(../images/back.jpg) center center fixed
    background-size: cover

    .left
        .wrapper
            width: 460px
            margin: auto

    input[type=text], textarea
        display: block
        width: 432px
        border: 2px solid #fff
        background: rgba(255, 255, 255, .07)
        color: #fff
        border-radius: 3px
        font-size: 18px
        padding: 12px
        font-family: "Roboto Condensed"
        outline: none !important
        margin-top: 15px

        &:focus
            border-color: $green

    input[type=submit]
        display: block
        width: 264px
        margin: auto
        margin-top: 25px
        border: 2px solid #fff
        background: $green
        color: #fff
        border-radius: 3px
        font-size: 24px
        font-weight: 500
        padding: 12px
        font-family: "Exo 2"
        outline: none !important

    .left
        h1
            font-weight: normal
            text-align: center
            margin-bottom: 40px

    .right
        font-family: "Exo 2"

        h1
            font-weight: normal
            margin-bottom: 40px

        p, li
            line-height: 1.1
            font-size: 20px
            //text-align: justify

        ul
            list-style-type: none
            padding: 0

            li
                padding-left: 56px
                margin-bottom: 10px
                background: url(../images/bullet.png) no-repeat 26px 4px

    .row
        top: 50%
        left: 50%
        margin-left: -$row-width / 2
        margin-top: (-668px) / 2
        position: absolute

        .right
            padding-right: 50px
            box-sizing: border-box

        @media (max-width: 1024px)
            height: 1000px
            margin-top: -500px

            .right
                box-sizing: border-box
                padding: 50px

#regular
    h1
        font-weight: normal
        font-size: 38px
        width: 269px
        margin: 0 auto auto

    .row
        height: auto

    .contacts
        position: absolute
        bottom: 0
        left: 50%
        margin-left: -134.5px

    .left
        width: 28%
        position: relative

    .right
        width: 72%

    .right .wrapper
        float: none
        width: 100%

    .right a
        margin: 3px
        float: left
        width: 370px

#fullpage.services
    height: auto
    min-height: 100%
    position: inherit

    .section
        background: none
        height: 100vh
        width: 100%
        margin: 0
        padding: 0

    @media (max-width: 1024px)
        h1
            font-size: 48px
            text-align: center
            width: 100%
            padding: 20px 0
            margin-bottom: 60px

        .section
            height: auto

        .row
            position: relative
            height: auto
            left: inherit
            top: inherit
            margin: 0

        .left
            width: 100%
            float: none

        .right
            width: 100%
            float: none
            margin-bottom: 60px

            .wrapper
                width: 900px

            a
                margin: 15px

        .contacts
            margin: auto
            position: relative
            left: inherit
            margin-bottom: 60px

